name: Build & Run tests & Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 16.x
        uses: actions/setup-node@master
        with:
          node-version: 16.x
          registry-url: 'https://registry.npmjs.org'

      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}-
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-

      - name: Install dependencies
        run: yarn

      - name: Build app
        run: yarn build

      - name: Run tests
        run: yarn test

      # BETA
      - name: Publish NPM BETA
        if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, 'beta') == true
        run: cd dist && npm publish --access public --tag beta
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

      # PROD
      - name: Publish NPM
        if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, 'beta') == false
        run: cd dist && npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

      - name: Set up package for GPR
        if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, 'beta') == false
        run: yarn gpr:setup

      - name: Use GPR
        if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, 'beta') == false
        uses: actions/setup-node@master
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com/
          scope: '@COEXCZ'

      - name: Publish to GitHub Package Registry
        if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, 'beta') == false
        run: |
          cd dist
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{github.token}}
